/vendor
/node_modules
.env

# Ignore Sublime Text related files
*.sublime-project
*.sublime-workspace

# Ignore files in img and img/thumb folders, except folders themselves and no_product_img
public/img/*
!public/img/thumbs/
public/img/thumbs/*
!public/img/thumbs/readme.md
!public/img/no_product_img.jpg

# Ignore Laravel 5 _ide_helper.php
_ide_helper.php
*.sublime-workspace